:root {
    --primaryColor: rgb(255, 106, 0)
}

* {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}

.content {
        margin-top: 200px;
        color: white;
        margin-left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        z-index: 1;
}

button {
    border-radius: 7px;
    background-color: white;
    font-weight:500;
    width: 80px;
    margin-top: 5%;
    border: 0;
}

body {
    margin: 0;
    position: relative;
    min-height: 100vh;
}
    
#logo {
    width: 5%;
    margin-left: 2%;
    float: left;
}

header {
    float: left;
    width: 100vw;
    background-color: var(--primaryColor);
}

#headerText {
    float: left;
    margin-left: 3%;
    margin-top: 1.5%;
    color: white;
    font-weight: 900;
    font-size:larger;
    text-decoration: none;
}

html, body {
    background: url("../pictures/PizzaBody.png") no-repeat center center fixed;
    background-size: cover;
    overflow: scroll;
    z-index: -1;
}   

#footer {
    background-color: black;
    opacity: 60%;
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}

main {
    padding-bottom: 2.5rem;
}

p {
    margin-top: 0;
    margin-bottom: 0;
}

.Box {
    background-color: var(--primaryColor);
    width: 70%;
    padding: 2%;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-left: 15%;
    color: white;
}

.topping-text {
    opacity: 80%;
}

.menuBox {
    border-bottom: solid 1px;
    border-block-color: white;
    display: flex;
    justify-content: space-between;
}

.menuText {
    margin: .5vw;
    width: 20vw;
}

.menuPrice {
    color: black;
    font-size: large;
    margin: 1.5vh;
}

.menuButton {
    height: 1cm;
    width: 1cm;
    margin: 2vh;

}

.menu {
    border-bottom: solid 1px;
}
.boxStyle {
    display: none;
}

.boxStyle:target {
    display: block;
    position: absolute;
    background-color: var(--primaryColor);
    width: 70%;
    padding: 2%;
    border-radius: 10px;
    box-shadow: 0 0 0 1600px rgba(0,0,0,0.40);
    color: white;
    margin-left: 7.5%;
    z-index: 2;
    margin-top: -22vh;
}

.mapText {
        display: flex; 
        justify-content: space-between;
}

#exitButton {
    width: auto;
    height: auto;
    margin-top: 0;
    margin-bottom: auto;
    background-color: red;
    color: white;
    border-color: white;
    transform: translate(0%, -50%);
}

