<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="shortcut icon" href="~/favicon.ico"/>
</head>
<body>
    <header>
        <nav>         
            <a asp-area="" asp-controller="Home" asp-action="Index"><img src="../pictures/Pizza.png" id="logo"></a>
            <a id="headerText" asp-area="" asp-controller="Home" asp-action="Menu">MENU</a>
            <a id="headerText" asp-area="" asp-controller="Home" asp-action="Info">INFO</a>
        </nav>
    </header>
    <div class="container"> 
        <div id="Box" class="boxStyle">
                <form>
                    <div class="mapText menu">
                    <h2>Turisten Pizzaria Location</h2>
                    <button id="exitButton">X</button>
                    </div>
                    <br/><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2307.2447278684335!2d11.726567815840296!3d54.67012068027775!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47ad393874e39dc9%3A0xadae025e20a5241f!2sAdelgade%205%2C%204880%20Nysted!5e0!3m2!1sda!2sdk!4v1665126138818!5m2!1sda!2sdk" width="100%" height="500" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </form>
            </div>
        <div class="content">
            <h1>Turisten Pizzaria</h1>
            <h6>Adelgade 5, Nysted - 4880</h6>
            <a href="#Box"><button>Find os</button></a>
        </div>
            @RenderBody() 
    </div>

    <footer id="footer">
               <p class="copyright">©2022 Turisten Pizzaria.</p>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
