<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="shortcut icon" href="~/favicon.ico"/>
</head>
<body>
    <header>
        <nav>         
            <a asp-area="" asp-controller="Home" asp-action="Index"><img src="../pictures/Pizza.png" id="logo"></a>
            <a id="headerText" asp-area="" asp-controller="Home" asp-action="Menu">MENU</a>
            <a id="headerText" asp-area="" asp-controller="Home" asp-action="Info">INFO</a>
        </nav>
    </header>
    <div class="container">        
        <div class="content">
            <h1>Turisten Pizzaria</h1>
            <h6><i class="map"></i>Adelgade 5, Nysted - 4880</h6>
            <button>Find os</button>            
        </div>
            @RenderBody()   
    </div>

    <footer id="footer">
               <p class="copyright">©2022 Turisten Pizzaria.</p>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
