@{
    ViewData["Title"] = "Turisten Pizzaria - info";
}

<body>
    <main>
        <div class="Box"><!--This div makes the box where we put the content for the info page-->
            <div class="infoHeader"><!--This div makes the header for the info box-->
                <h3>INFO</h3><!--This is the header for our info box-->
            </div>
            <div id="infoContent"><!--in this div we put the contents of the info box-->
                <div id="openDates"><!--This div contains the content of the information about the dates-->
                    <br /><h4>Åbningstider</h4><!--This is the open dates header-->
                    <table><!--This is a table for all the contents, we make a table header for the date and table data for the times-->
                        <tr><th>Mandag:</th><td>15 - 21</td></tr>
                        <tr><th>Tirsdag:</th><td>Lukket</td></tr>
                        <tr><th>Onsdag:</th><td>15 - 21</td></tr>
                        <tr><th>Torsdag:</th><td>15 - 21</td></tr>
                        <tr><th>Fredag:</th><td>15 - 21</td></tr>
                        <tr><th>Lørdag:</th><td>15 - 21</td></tr>
                        <tr><th>Søndag:</th><td>15 - 21</td></tr>
                    </table>
                </div>
                <div id="contacts"><!--This div contains the contents of our contacts-->
                    <br /><h4>Kontakt</h4><!--The header-->
                    <table><!--Table and table contents-->
                        <tr><th>Telefon:</th><td>(+45) 54864414</td></tr>
                    </table>
                </div>
                <div id="delivery"><!--Div for our delivery information-->
                    <br /><h4>Levering</h4><!--Delivery header-->
                    <table><!--Table and content for our delivery information-->
                        <tr><th>Zone:</th><td>#1</td></tr>
                        <tr><th>Man - Søn:</th><td>15 - 21:45</td></tr>
                        <tr><th>Afstand:</th><td>15km</td></tr>
                        <tr><th>Mindstekøb:</th><td>80,00 DKK</td></tr>
                        <tr><th>Levering:</th><td>30,00 DKK</td></tr>
                    </table>
                </div>
            </div>
        </div>
    </main>
</body>