@{
    ViewData["Title"] = "Turisten Pizzaria - info";
}

<body>
    <main>
        <div class="Box">
            <div class="menu">
                <h3>INFO</h3>
            </div>
            <br /><h4>Åbningstider</h4>
            <table>
                <tr><th>Mandag</th><td>15 - 21</td></tr>
                <tr><th>Tirsdag</th><td>Lukket</td></tr>
                <tr><th>Onsdag</th><td>15 - 21</td></tr>
                <tr><th>Torsdag</th><td>15 - 21</td></tr>
                <tr><th>Fredag</th><td>15 - 21</td></tr>
                <tr><th>Lørdag</th><td>15 - 21</td></tr>
                <tr><th>Søndag</th><td>15 - 21</td></tr>
            </table>

        </div>
    </main>
</body>