@{
    ViewData["Title"] = "Turisten Pizzaria - info";
}

<body>
    <main>
        <div class="Box">
            <div class="menu">
                <h3>INFO</h3>

            </div>
        </div>
    </main>
</body>