@{
    ViewData["Title"] = "Turisten Pizzaria - menu";
}

<body>
    <main>
        <div class="orderBox" id="orderBox">

        </div>
        <div class="Box">
            <div class="menuBox">
                <div class="menuText">
                    <h4>1. MARGHERITA</h4>
                    <h6 class="topping-text">Tomat og ost</h6>
                </div>
                <div class="menuPrice">
                    <h2>DKK 70,00</h2>
                </div>
                <button class="menuButton" OnClick="openOrderBox()">+</button>
            </div>
            <div class="menuBox">
                <div Class="menuText">
                    <h4>2. Vesuvio</h4>
                    <h6 class="topping-text">skinke</h6>
                </div>
                <div class="menuPrice">
                    <h2>DKK 80,00</h2>
                </div>
                <button class="menuButton">+</button>
            </div>
            <div class="menuBox">
                <div class="menuText">
                    <h4>3. Pepperoni</h4>
                    <h6 class="topping-text">Pepperoni</h6>
                </div>
                <div class="menuPrice">
                    <h2>DKK 80,00</h2>
                </div>
                <button class="menuButton">+</button>
            </div>
            <div class="menuBox">
                <div class="menuText">
                    <h4>4. Capricciosa</h4>
                    <h6 class="topping-text">Skinke, champignon</h6>
                </div>
                <div class="menuPrice">
                    <h2>DKK 90,00</h2>
                </div>
                <button class="menuButton">+</button>
            </div>
            <div class="menuBox">
                <div class="menuText">
                    <h4>5. Hawaii </h4>
                    <h6 class="topping-text">Skinke, ananas</h6>
                </div>
                <div class="menuPrice">
                    <h2>DKK 90,00</h2>
                </div>
                <button class="menuButton">+</button>
            </div>
            <div class="menuBox">
                <div class="menuText">
                    <h4>6. Quatro</h4>
                    <h6 class="topping-text">Skinke, pepperoni</h6>
                </div>
                <div class="menuPrice">
                    <h2>DKK 90,00</h2>
                </div>
                <button class="menuButton">+</button>
            </div>
            <div class="menuBox">
                <div class="menuText">
                    <h4>7. Pavarotti</h4>
                    <h6 class="topping-text">Skinke, pepperoni, bacon</h6>
                </div>
                <div class="menuPrice">
                    <h2>DKK 95,00</h2>
                </div>
                <button class="menuButton">+</button>
            </div>
            <div class="menuBox">
                <div class="menuText">
                    <h4>8. Opera </h4>
                    <h6 class="topping-text">Skinke, pepperoni, kebab, dressing</h6>
                </div>
                <div class="menuPrice">
                    <h2>DKK 95,00</h2>
                </div>
                <button class="menuButton">+</button>
            </div>
            <div class="menuBox">
                <div class="menuText">
                    <h4>9. Husets Pizza</h4>
                    <h6 class="topping-text">Skinke, gorgonzola, løg, bacon</h6>
                </div>
                <div class="menuPrice">
                    <h2>DKK 100,00</h2>
                </div>
                <button class="menuButton">+</button>
            </div>
            <div class="menuBox">
                <div class="menuText">
                    <h4>10. Lotus</h4>
                    <h6 class="topping-text">Kebab, pepperoni, bearnaise</h6>
                </div>
                <div class="menuPrice">
                    <h2>DKK 95,00</h2>
                </div>
                <button class="menuButton">+</button>
            </div>
            <div class="menuBox">
                <div class="menuText">
                    <h4>11. Nysted Spesial</h4>
                    <h6 class="topping-text">Kebab, champignon, løg, gorgonzola</h6>
                </div>
                <div class="menuPrice">
                    <h2>DKK 95,00</h2>
                </div>
                <button class="menuButton">+</button>
            </div>
            <div class="menuBox">
                <div class="menuText">
                    <h4>12. Norge</h4>
                    <h6 class="topping-text">Skinke, pepperoni, bacon, cocktailpølser</h6>
                </div>
                <div class="menuPrice">
                    <h2>DKK 95,00</h2>
                </div>
                <button class="menuButton">+</button>
            </div>
            <div class="menuBox">
                <div class="menuText">
                    <h4>13. Kartoffel</h4>
                    <h6 class="topping-text">Kartoffel, bacon, friske tomater, pesto</h6>
                </div>
                <div class="menuPrice">
                    <h2>DKK 95,00</h2>
                </div>
                <button class="menuButton">+</button>
            </div>
            <div class="menuBox">
                <div class="menuText">
                    <h4>14. Hilde</h4>
                    <h6 class="topping-text">Kødsauce, løg </h6>
                </div>
                <div class="menuPrice">
                    <h2>DKK 80,00</h2>
                </div>
                <button class="menuButton">+</button>
            </div>
            <div class="menuBox">
                <div class="menuText">
                    <h4>15. Christiania</h4>
                    <h6 class="topping-text">Kebab, pepperoni, bacon, gorgonzola, chili, hvidløg</h6>
                </div>
                <div class="menuPrice">
                    <h2>DKK 95,00</h2>
                </div>
                <button class="menuButton">+</button>
            </div>
            <div class="menuBox">
                <div class="menuText">
                    <h4>16. Dennis</h4>
                    <h6 class="topping-text">Kebab, bacon, champignon, hvidløg</h6>
                </div>
                <div class="menuPrice">
                    <h2>DKK 90,00</h2>
                </div>
                <button class="menuButton">+</button>
            </div>
            <div class="menuBox">
                <div class="menuText">
                    <h4>17. Hafnia</h4>
                    <h6 class="topping-text">Rejer, tun, champignon</h6>
                </div>
                <div class="menuPrice">
                    <h2>DKK 90,00</h2>
                </div>
                <button class="menuButton">+</button>
            </div>
            <div class="menuBox">
                <div class="menuText">
                    <h4>18. Mesopotamia</h4>
                    <h6 class="topping-text">Skinke, kebab, bacon, paprika, chili, hvidløg</h6>
                </div>
                <div class="menuPrice">
                    <h2>DKK 95,00</h2>
                </div>
                <button class="menuButton">+</button>
            </div>
            <div class="menuBox">
                <div class="menuText">
                    <h4>19. Vegetariana </h4>
                    <h6 class="topping-text">Champignon, løg, paprika, tomater</h6>
                </div>
                <div class="menuPrice">
                    <h2>DKK 90,00</h2>
                </div>
                <button class="menuButton">+</button>
            </div>
            <div class="menuBox">
                <div class="menuText">
                    <h4>20. Alpes</h4>
                    <h6 class="topping-text">Kylling, friske tometer, ananas, bacon, karrykryder</h6>
                </div>
                <div class="menuPrice">
                    <h2>DKK 95,00</h2>
                </div>
                <button class="menuButton">+</button>
            </div>
            <div class="menuBox">
                <div class="menuText">
                    <h4>21. Mai </h4>
                    <h6 class="topping-text">Kartoffel, hakket oksekød, chili</h6>
                </div>
                <div class="menuPrice">
                    <h2>DKK 95,00</h2>
                </div>
                <button class="menuButton">+</button>
            </div>
            <div class="menuBox">
                <div class="menuText">
                    <h4>22. Mamma Rosa</h4>
                    <h6 class="topping-text">Skinke, cocktailpølser, bacon</h6>
                </div>
                <div class="menuPrice">
                    <h2>DKK 95,00</h2>
                </div>
                <button class="menuButton">+</button>
            </div>
            <div class="menuBox">
                <div class="menuText">
                    <h4>23. Hvidløgsbrød</h4>
                    <h6 class="topping-text">Hvidløg</h6>
                </div>
                <div class="menuPrice">
                    <h2>DKK 65,00</h2>
                </div>
                <button class="menuButton">+</button>
            </div>
        </div>
    </main>
    <script src="/js/MenuButton.js"></script>
</body>
