@{
    ViewData["Title"] = "Turisten Pizzaria - menu";
}

<body>
    <main>
        <div class="Box"><!--we make a box for the menu-->
            <div class="menuBox"><!--This creates a row for the search bar-->
                <input type="text" id="searchbar" name="txt" onchange="Search(this.value)" placeholder="Søg efter ingredienser.." /><!--This input creates the search bar-->
            </div>
            <div class="menuBox" onclick="test()"><!--This div makes a row for our item and creates a method so when you click on the row and it runs a script-->
                <div class="menuText"><!--This div is for the text in the row-->
                    <h4>1. MARGHERITA</h4><!--Pizza name-->
                    <h6 class="topping-text">Tomat og ost</h6><!--Pizza toppings-->
                </div>
                <div class="menuPrice"><!--Div for the menu price-->
                    <h2>DKK 70,00</h2><!--The menu price-->
                </div>
                <a class="menuButton">+</a><!--anchor for our button-->
            </div>
            <div class="menuBox">
                <div Class="menuText">
                    <h4>2. Vesuvio</h4>
                    <h6 class="topping-text">skinke</h6>
                </div>
                <div class="menuPrice">
                    <h2>DKK 80,00</h2>
                </div>
                <a class="menuButton">+</a>
            </div>
            <div class="menuBox">
                <div class="menuText">
                    <h4>3. Pepperoni</h4>
                    <h6 class="topping-text">Pepperoni</h6>
                </div>
                <div class="menuPrice">
                    <h2>DKK 80,00</h2>
                </div>
                <a class="menuButton">+</a>
            </div>
            <div class="menuBox">
                <div class="menuText">
                    <h4>4. Capricciosa</h4>
                    <h6 class="topping-text">Skinke, champignon</h6>
                </div>
                <div class="menuPrice">
                    <h2>DKK 90,00</h2>
                </div>
                <a class="menuButton">+</a>
            </div>
            <div class="menuBox">
                <div class="menuText">
                    <h4>5. Hawaii </h4>
                    <h6 class="topping-text">Skinke, ananas</h6>
                </div>
                <div class="menuPrice">
                    <h2>DKK 90,00</h2>
                </div>
                <a class="menuButton">+</a>
            </div>
            <div class="menuBox">
                <div class="menuText">
                    <h4>6. Quatro</h4>
                    <h6 class="topping-text">Skinke, pepperoni</h6>
                </div>
                <div class="menuPrice">
                    <h2>DKK 90,00</h2>
                </div>
                <a class="menuButton">+</a>
            </div>
            <div class="menuBox">
                <div class="menuText">
                    <h4>7. Pavarotti</h4>
                    <h6 class="topping-text">Skinke, pepperoni, bacon</h6>
                </div>
                <div class="menuPrice">
                    <h2>DKK 95,00</h2>
                </div>
                <a class="menuButton">+</a>
            </div>
            <div class="menuBox">
                <div class="menuText">
                    <h4>8. Opera </h4>
                    <h6 class="topping-text">Skinke, pepperoni, kebab, dressing</h6>
                </div>
                <div class="menuPrice">
                    <h2>DKK 95,00</h2>
                </div>
                <a class="menuButton">+</a>
            </div>
            <div class="menuBox">
                <div class="menuText">
                    <h4>9. Husets Pizza</h4>
                    <h6 class="topping-text">Skinke, gorgonzola, løg, bacon</h6>
                </div>
                <div class="menuPrice">
                    <h2>DKK 100,00</h2>
                </div>
                <a class="menuButton">+</a>
            </div>
            <div class="menuBox">
                <div class="menuText">
                    <h4>10. Lotus</h4>
                    <h6 class="topping-text">Kebab, pepperoni, bearnaise</h6>
                </div>
                <div class="menuPrice">
                    <h2>DKK 95,00</h2>
                </div>
                <a class="menuButton">+</a>
            </div>
            <div class="menuBox">
                <div class="menuText">
                    <h4>11. Nysted Spesial</h4>
                    <h6 class="topping-text">Kebab, champignon, løg, gorgonzola</h6>
                </div>
                <div class="menuPrice">
                    <h2>DKK 95,00</h2>
                </div>
                <a class="menuButton">+</a>
            </div>
            <div class="menuBox">
                <div class="menuText">
                    <h4>12. Norge</h4>
                    <h6 class="topping-text">Skinke, pepperoni, bacon, cocktailpølser</h6>
                </div>
                <div class="menuPrice">
                    <h2>DKK 95,00</h2>
                </div>
                <a class="menuButton">+</a>
            </div>
            <div class="menuBox">
                <div class="menuText">
                    <h4>13. Kartoffel</h4>
                    <h6 class="topping-text">Kartoffel, bacon, friske tomater, pesto</h6>
                </div>
                <div class="menuPrice">
                    <h2>DKK 95,00</h2>
                </div>
                <a class="menuButton">+</a>
            </div>
            <div class="menuBox">
                <div class="menuText">
                    <h4>14. Hilde</h4>
                    <h6 class="topping-text">Kødsauce, løg </h6>
                </div>
                <div class="menuPrice">
                    <h2>DKK 80,00</h2>
                </div>
                <a class="menuButton">+</a>
            </div>
            <div class="menuBox">
                <div class="menuText">
                    <h4>15. Christiania</h4>
                    <h6 class="topping-text">Kebab, pepperoni, bacon, gorgonzola, chili, hvidløg</h6>
                </div>
                <div class="menuPrice">
                    <h2>DKK 95,00</h2>
                </div>
                <a class="menuButton">+</a>
            </div>
            <div class="menuBox">
                <div class="menuText">
                    <h4>16. Dennis</h4>
                    <h6 class="topping-text">Kebab, bacon, champignon, hvidløg</h6>
                </div>
                <div class="menuPrice">
                    <h2>DKK 90,00</h2>
                </div>
                <a class="menuButton">+</a>
            </div>
            <div class="menuBox">
                <div class="menuText">
                    <h4>17. Hafnia</h4>
                    <h6 class="topping-text">Rejer, tun, champignon</h6>
                </div>
                <div class="menuPrice">
                    <h2>DKK 90,00</h2>
                </div>
                <a class="menuButton">+</a>
            </div>
            <div class="menuBox">
                <div class="menuText">
                    <h4>18. Mesopotamia</h4>
                    <h6 class="topping-text">Skinke, kebab, bacon, paprika, chili, hvidløg</h6>
                </div>
                <div class="menuPrice">
                    <h2>DKK 95,00</h2>
                </div>
                <a class="menuButton">+</a>
            </div>
            <div class="menuBox">
                <div class="menuText">
                    <h4>19. Vegetariana </h4>
                    <h6 class="topping-text">Champignon, løg, paprika, tomater</h6>
                </div>
                <div class="menuPrice">
                    <h2>DKK 90,00</h2>
                </div>
                <a class="menuButton">+</a>
            </div>
            <div class="menuBox">
                <div class="menuText">
                    <h4>20. Alpes</h4>
                    <h6 class="topping-text">Kylling, friske tometer, ananas, bacon, karrykryder</h6>
                </div>
                <div class="menuPrice">
                    <h2>DKK 95,00</h2>
                </div>
                <a class="menuButton">+</a>
            </div>
            <div class="menuBox">
                <div class="menuText">
                    <h4>21. Mai </h4>
                    <h6 class="topping-text">Kartoffel, hakket oksekød, chili</h6>
                </div>
                <div class="menuPrice">
                    <h2>DKK 95,00</h2>
                </div>
                <a class="menuButton">+</a>
            </div>
            <div class="menuBox">
                <div class="menuText">
                    <h4>22. Mamma Rosa</h4>
                    <h6 class="topping-text">Skinke, cocktailpølser, bacon</h6>
                </div>
                <div class="menuPrice">
                    <h2>DKK 95,00</h2>
                </div>
                <a class="menuButton">+</a>
            </div>
            <div class="menuBox">
                <div class="menuText">
                    <h4>23. Hvidløgsbrød</h4>
                    <h6 class="topping-text">Hvidløg</h6>
                </div>
                <div class="menuPrice">
                    <h2>DKK 65,00</h2>
                </div>
                <a class="menuButton">+</a>
            </div>
        </div>
        <script type="text/javascript">//This is to tell the html that this is javascript 
            function test() {//this creates a function called test for the menu items
                alert("Test");//This creates an alert box, so when you trigger the function it says "Test"
            };
        </script>
        <script type="text/javascript">//To tell the html it is javascript           
            function Search(val) {//Creates a search function called Search, for the searchbar
                alert(val);//This creates an alert box so when it is triggered it has the value that the user put in to the search bar
            }            
        </script>
    </main>
</body>